body {
    margin: 0;
    font-family: sans-serif;
    background-color: #222;
    /* Màu nền xám đậm */
    color: #fff;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.1em;
    margin-bottom: 30px;
}

.hero-content button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
}

.hero-image {
    max-width: 40%;
}

.hero-image img {
    width: 100%;
    display: block;
}